body{
    background-color: #EDEDED;
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.topNavBar{
    width: 100%;
    margin: 22px 0;
    position: fixed;
    top: 0;
    left: 0;
}
.topNavBar-inner{
    margin: 0 16px;
}
.topNavBar .logo{
    float: left;
    font-family: Arial Black;
    font-size: 24px;
    font-weight: bold;
    color: #919499;
    padding: 1px 0;
}
.topNavBar .logo > .RS{
    color: #E15E63;
    padding-right: 4px;
}
.topNavBar nav{
    float: right;
    padding-top: 5px;
}
.topNavBar nav > ul{
    margin: 0;
    padding: 0;
}
.topNavBar nav > ul > li{
    float: left;
    list-style-type: none;
    margin: 0 17px;
}
.topNavBar nav > ul > li > a{
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding: 5px 0;
    font-size: 12px;
    font-weight: bold;
    color: #AFAFB0;
    display: block;
}
.topNavBar nav > ul > li > a:hover{
    border-top: 3px solid transparent;
    border-bottom: 3px solid rgb(235, 57, 66);
}
.banner{
    height: 515px;
    background-size: cover;
    background-position: center center;
    background-image: url("https://rscard.px-lab.com/startuper/wp-content/uploads/sites/2/2016/02/rs-cover-2-2-1-1.jpg");
}
.banner .bg-color{
    height: 515px;
    background-color: rgba(44,51,64,0.8);
}
.usercard{
    max-width: 940px;
    margin: 0 auto;
    background-color:  white;
}
.usercard .profile{
    padding: 57px 50px 15px 50px;
}
.usercard .picture{  
    float: left;
    margin-right: 65px;
    margin-bottom: 38px;
}
.usercard .text{
    float: left;
    width: 470px;
}
.usercard .text .welcome{
    color: white;
    background-color: #e8676b;
    display: inline-block;
    padding: 7px 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    position: relative;
    margin-bottom: 25px;
}
.text .welcome .triangle{
    width: 0;
    border: 8px solid transparent;
    border-left-color: #e8676b;
    border-top-width: 0;
    display: block;
    position: absolute;
    top: 100%;
    left: 5px;
}
.text h1{
    margin-bottom: 5px;
}
.text hr{
    margin: 20px 0;
    border: none;
    border-top: 1px solid #DEDEDE;
}
.text dt,
.text dd{
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 15px;
}
.text dt{
    float: left;
    width: 30%;
}
.text dd{
    width: 70%;
    color: #9da0a7;
}
.usercard .media{
    background-color: #e8676b;
    padding: 15px 0;
    text-align: center;
}
.media svg{
    fill: white;
    width: 25px;
    height: 25px;
    vertical-align: top;
}
.media a{
    width: 25px;
    height: 25px;
    padding: 10px;
    margin: 0 30px;
    border-radius: 50%;
    display: inline-block;
}
.media a:hover{
    background-color: #CF5D5F;
}
main{
    margin-top: -345px;
}
.download-button{
    text-align: center;
}
.download-button .button{
    margin: 40px auto;
    border: 1px solid #C7C9CB;
    padding: 15px 85px;
    display: inline-block;
    line-height: 30px;
    font-weight: bold;
    color: #656A72;
    border-radius: 2%;
    transition: box-shadow 0.5s;
}
.download-button .button:hover{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 
                0 4px 15px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.95;
}
main > p{
    max-width: 740px;
    padding: 0 100px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
}
#skills,
#portfolio{
    max-width: 940px;
    margin: 50px auto;
}
#skills > h2,
#portfolio > h2{
    text-align: center;
    color: #373D49;
    font-size: 1.8em;
    margin-bottom: 30px;
}

#skills > ul{
    background-color: #FFFFFF;
    list-style: none;
    padding: 40px 30px 0px 30px;
    box-shadow: 1px 1px 1px #A6A6A6,
                -1px 0px 2px #A6A6A6;
}
#skills > ul > li{
    float: left;
    width: 46%;
    margin-bottom: 40px;
    margin-left: 2%;
    margin-right: 2%;
}
#skills > ul > li > h3{
    color: rgb(72, 73, 77);
    font-weight: 100;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 5px;
}
#skills ul li .progressbar{
    border-radius: 5px;
    background-color: #F9DFE0;
    width: 100%;
}
#skills ul li .progress{
    border-radius: 5px;
    height: 5px;
    background-color: #E35D64;
}
#skills ul li .HTML5{
    width: 40%;
}
#skills ul li .js{
    width: 80%;
}
#skills ul li .jQuery{
    width: 60%;
}
#skills ul li .vue{
    width: 75%;
}
#skills ul li .React{
    width: 65%;
}
#skills ul li .HTTP{
    width: 45%;
}
#portfolio{
    text-align: center;
}
#portfolio nav{
    display: inline-block;
    vertical-align: top;
}
#portfolio nav ul li{
    cursor: pointer;
    float: left;
    list-style: none;
    margin-left: 40px;
}
#portfolio nav ul li:nth-child(1){
    margin: 0;
}
#portfolio nav .bar{
    margin-top: 5px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 5px;
    height: 5px;
}
#portfolio nav .bar .bar-inner{
    height: 5px;
    border-radius: 5px;
    background-color: #E15E63;
    transition: all 0.5s;
}
#portfolio nav .bar.state-1 .bar-inner{
    margin-left: 0;
    width: 50px;
}
#portfolio nav .bar.state-2 .bar-inner{
    margin-left: 63px;
    width: 60px;
}
#portfolio nav .bar.state-3 .bar-inner{
    margin-left: 145px;
    width: 99px;
}
#portfolio .jobs{
    height: 597px;
    position: relative;
}
#portfolio .jobs .big{
    position: absolute;
    top: 0;
    left: 0;
}
#portfolio .jobs .small-1{
    position: absolute;
    top: 0;
    left: 645px;
}
#portfolio .jobs .small-2{
    position: absolute;
    top: 312px;
    left: 645px;
}